{% extends "base.html" %}

{% block content %}
    <div class="d-flex flex-column justify-content-around align-items-center">
        {% if card.answer_img %}
            <img src="{{ card.answer_img.img.url }}" class="card-img-top card-img mt-4" alt="answer-img">
        {% endif %}
        <div class="m-4">
            <h5>{{ card.answer }}</h5>
        </div>
        <div class="">
            <form method="post" action="{% url 'next-card' deck_pk card_no %}" class="d-flex p-2 align-items-center">
                {% csrf_token %}
                <input type="hidden" name="cardQty" value="{{ cards_qty }}"/>
                <input type="hidden" name="cardId" value="{{ card.id}}"/>
                <button type="submit" class="btn btn-primary m-1">{% if card_no < cards_qty %} Next Card {% else %} Finish {% endif %}</button>
                <div class="form-check m-2">
                    <input class="form-check-input" type="checkbox" name="markAsLearned" id="flexCheckDefault" {% if card.status == "MASTERED" %} checked {% endif%}/>
                    <label class="form-check-label" for="flexCheckDefault">Learned</label>
                </div>
            </form>
        </div>
    </div>
{% endblock %}