{% extends "base.html" %}

{% block content %}


{{ form.media }}
  <form enctype="multipart/form-data" method="post">
    {% csrf_token %}
    {% for field in form %}
        <div class="fieldWrapper d-flex flex-column align-items-start">
            {{ field.errors }}
            {% if field.label == "Status" %}
            <div class="w-10">
                {{ field.label_tag }} {{ field }}
            </div>
            {% else %}
            {{ field.label_tag }} {{ field }}
            {% endif %}
            {% if field.label == "Question" %}
            <div class="d-flex align-items-start flex-column py-2">
                {% if card.question_img %}
                <img src="{{ card.question_img.img.url }}" class="card-update-img py-2" alt="question-img">
                {% else %}
                <p><span style="color:grey">No image added</span></p>
                {% endif %}
                <div class="d-flex flex-column">
                    <label for="questionImg" class="form-label">Add/Change question image:</label>
                    <input type="file" id="questionImg" name="new_question_image" class="form-control" accept="image/png, image/jpeg, image,jpg">
                </div>
            </div>
            {% elif field.label == "Answer" %}
            <div class="d-flex align-items-start flex-column py-2">
                {% if card.answer_img %}
                <img src="{{ card.answer_img.img.url }}" class="card-update-img py-2" alt="answer-img">
                {% else %}
                <p><span style="color:grey">No image added</span></p>
                {% endif %}
                <label for="answerImg" class="form-label">Add/Change answer image:</label>
                <input type="file" id="answerImg" name="new_answer_image" class="form-control" accept="image/png, image/jpeg, image,jpg">
            </div>
            {% endif %}
            {% if field.help_text %}
            <p class="help">{{ field.help_text|safe }}</p>
            {% endif %}
        </div>
    {% endfor %}
    <input type="submit" value="Submit" class="btn btn-primary my-2">
  </form>
{% endblock %}